html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family-sans: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  --color-pure-black: #000000;
  --color-pure-white: #ffffff;
  --color-gray-900: #1f1f1f;
  --color-gray-600: #616367;
  --color-gray-500: #a3a3a3;
  --color-gray-400: #b1b1b1;
  --color-gray-300: #c4c4c4;
  --color-gray-200: #cecece;
  --color-gray-150: #f0f0f0;
  --color-gray-100: #f8f8f8;
  --color-gray-900-transparent: rgba(34, 34, 34, 0.8);
  --color-black-rgb: rgba(0, 0, 0, 0.99);
  --color-black-rgb-light: rgba(0, 0, 0, 0.2);

  --color-alert-300: #d14848;

  --column-width: 8rem;
}
